html {
    position: relative;
    min-height: 100%;
}
body {
    min-height: 300px;
}

body.browser_action {
    /* Margin bottom by footer + toolbelt height */
    margin-bottom: 70px;
}
body.browser_action .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #f5f5f5;
    padding-top: 10px;
}
body.browser_action #toolbelt {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #dddddd;
    font-size: 85%;
    text-align: center;
    color: #cccccc;
}
body.browser_action .container {
    width: 400px;
}
body.options .container {
    width: 600px;
}

#logo {
    width: 30px;
}
